/* Variables */
$primary-gradient: linear-gradient(135deg, #ffffff, #f3f3f3);
$hover-gradient: linear-gradient(135deg, #3a3a3a, #f7f7f7);
$card-background: #ffffff;
$text-color: #333;
$title-color: #000;
$icon-color: #333;
$hover-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
$focus-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);

.services {
  padding: 50px 20px;
  text-align: center;

  .services-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: $title-color;
    margin-bottom: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }
  .services-para{
    font-size: 1.5rem;
    color: #333;
    line-height: 1;
    // margin-bottom: 30px;
    text-shadow: 2px 2px px rgba(0, 0, 0, 0.1);
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
  }

  .service-card {
    background: $card-background;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
      box-shadow: $hover-shadow;
      background: $hover-gradient;
      color: #ffffff;

      .service-title {
        color: #ffffff;
      }

      .service-description {
        color: #f1f1f1;
      }
    }

    .service-header {
      display: flex;
      align-items: center;
      // margin-bottom: 10px;

      .service-icon {
        font-size: 2.5rem;
        color: $icon-color;
        margin-right: 15px;
        transition: color 0.3s ease;
      }

      .service-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: $title-color;
        transition: color 0.3s ease;
      }
    }

    .service-description {
      font-size: 1rem;
      color: $text-color;
      line-height: 1.6;
      margin-bottom: 20px;
    }

    .action-button {
      padding: 12px 20px;
      background-color: #f67e35;
      color: #fff;
      border-radius: 25px;
      font-size: 1.2rem;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      margin-top: auto;

      &:hover {
        background-color: #e66a1a;
      }
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .services {
    padding: 30px 10px;
  }

  .service-card {
    padding: 15px;
  }
}
