* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  
}

.trusted-partner-container {
  width: 100%;
  padding: 60px 20px;
}

.trusted-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.header-text {
  max-width: 50%;
}

.header-text h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.header-text p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.7;
}

.header-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.header-image img:hover {
  transform: scale(1.05);
}

.steps-section {
  text-align: center;
  /* margin-bottom: 20px; */
}

.steps-section h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
  font-weight: 700;
}

.steps-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.step {
  background-color: #ffffff;
  border-radius: 12px;
  width: 18%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.step:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.step-Icon {
  font-size: 5rem;
  font-weight: bold;
  background-color: #f67e35;
  border-radius: 50%;
  padding: 20px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 30px;
  right: 30px;
}

.step-number {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #f67e35;
  border-radius: 50%;
  padding: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  left: -20px;
}

.step h3 {
  font-size: 1.2rem;
  margin-left: 20px;
  color: #666;
  text-align: start;
  margin-bottom: 10px;
}

.step p {
  font-size: 1rem;
  color: #666;
  margin-left: 20px;
  text-align: start;
}

.step-Icon {
  font-size: 3rem;
  margin-bottom: 15px;
}

.step .step-Icon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .trusted-cards {
    flex-direction: column;
    align-items: center;
  }

  .steps-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 30px;
  }

  .step {
    width: 80%;
    margin-bottom: 20px;
  }

  .header-text h1 {
    font-size: 2rem;
  }

  .header-text p {
    font-size: 1rem;
  }

  .steps-section h2 {
    font-size: 2rem;
  }

  .step-number {
    font-size: 1.8rem;
    padding: 20px;
    width: 40px;
    height: 40px;
  }

  .step-Icon {
    font-size: 2.5rem;
    padding: 15px;
  }

  .header-image img {
    width: 100%;
    height: auto;
  }
}